{% extends 'base.html' %}

{% block title %}New User Form{% endblock %}

{% block content %}
<div class="container">
    <h1>New User Form</h1>

    <form id="new_user" method="POST">
        <p><label>First Name:</label>
            <input class= "form-control" type="text" id="first_name" name="first_name" placeholder="Enter a first name">
        </p>
        <p><label>Last Name:</label>
            <input class= "form-control" type="text" id="last_name" name="last_name" placeholder="Enter a last name">
        </p>
        <p><label>Image URL:</label>
            <input class= "form-control" type="text" id="image_url" name="image_url" placeholder="Enter an image URL">
        </p>
        <p>
            <button class="btn btn-primary" action="submit">Submit</button>
        </p>
    </form>
</div>
{% endblock %}

